---
layout: main
---
<h1>{{ page.title }}</h1>
<details>
  <summary>Class Description</summary>
  <p>{{ page.description }}</p>
</details>
<h3>Current Homework: {% if page.hw %}{{ page.hw }}{% else %}Not here...<button onclick="widow.location='#submit'";>SUBMIT IT</button>{% endif %}</h3>
<details>
  <summary>Rescources</summary>
  <p>{{ content }}</p>
</details>
<br><br><br><br><br><br><br><br><br>
<form id='submit' action='https://google.com/'>
  <fieldset><legend>Homework not here? Submit it now.</legend>
    <input type=text name="hw" placeholder="pg. 107 #1-9"></input>
  <input type=submit></fieldset>
</form>
