---
layout: main
---
<h2>Current Homework: </h2>

<object data="http://jmshw.rf.gd/d/index" type="text/plain"
width="100%" style="height: 10em">
<a href="http://jmshw.rf.gd/d/index">Embedded Text Document</a>
</object>

<br>

<form action='http://jmshw.rf.gd/' method='post'>
  <input type=hidden name='c' value='{{page.title}}'>
  <input type=text name='h' placeholder='pg. 107 #6-9'>
  <input value='Update' type=submit>
</form>



<!---
Homework incorrect or not there? Submit the real homework.
--->

<br>

{{content}}
