---
layout: main
---
<h2>Current Homework: </h2> {{ page.homework }}<br><strong>Homework incorrect or missing?</strong> Update it here.<br>

<p id="demo"></p>

<script>
var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var myObj = JSON.parse(this.responseText);
    document.getElementById("demo").innerHTML = myObj.'\{{page.url}}';
  }
};
xmlhttp.open("GET", "http://jmshw.rf.gd/data.json", true);
xmlhttp.send();

</script>

<form action='http://jmshw.rf.gd/' method='post'>
  <input type=hidden name='c' value='{{page.url}}'>
  <input type=text name='h' placeholder='pg. 107 #6-9'>
  <input value='Update' type=submit>
</form>



<!---
Homework incorrect or not there? Submit the real homework.
--->

<br>

{{content}}
