<head><title>{{ page.title }} | AssignmentLogger</title>
	<meta property="og:title" content="{{ page.title }} | AssignmentLogger">
	<meta property="og:description" content="{{ page.title }} | AssignmentLogger">
	
	<script type = "application/javascript">
         function loadJSON() {
            var data_file = "http://jmshw.rf.gd/data.json";
            var http_request = new XMLHttpRequest();
            try{
               // Opera 8.0+, Firefox, Chrome, Safari
               http_request = new XMLHttpRequest();
            }catch (e) {
               // Internet Explorer Browsers
               try{
                  http_request = new ActiveXObject("Msxml2.XMLHTTP");
					
               }catch (e) {
				
                  try{
                     http_request = new ActiveXObject("Microsoft.XMLHTTP");
                  }catch (e) {
                     // Something went wrong
                     alert("Your browser broke!");
                     return false;
                  }
					
               }
            }
			
            http_request.onreadystatechange = function() {
			
               if (http_request.readyState == 4  ) {
                  // Javascript function JSON.parse to parse JSON data
                  var jsonObj = JSON.parse(http_request.responseText);

                  // jsonObj variable now contains the data structure and can
                  // be accessed as jsonObj.name and jsonObj.country.
                  var cd = jsonObj.{{page.url}};
                  var hw = cd.8;
		  alert('hw');
               }
            }
			
            http_request.open("GET", data_file, true);
            http_request.send();
         }
		
      </script>
</head>

<body style='background-color:#ffffff'>

	<div style='height:15%;text-align:center;'>
		<div style='height:10%;'>
 	   	<h1>{{ page.title }}</h1>
 	   </div>
	   <br><br>
 	   <div style='height:5%;'>
		    <button onclick="window.location='/hw'">Home</a>
	  	    <button onclick="window.location='jams.html'">JAMS</a>
	    	    <button onclick="window.location='alg.html'">Algebra</a>
	            <button onclick="window.location='geo.html'">Geometry</a>
    	   </div>
        </div>
	<hr>
	<h1>Cricketer Details</h1>
		
      <table class = "src">
         <tr><th>Name</th><th>Country</th></tr>
         <tr><td><div id = "Name">Sachin</div></td>
         <td><div id = "Country">India</div></td></tr>
      </table>

      <div class = "central">
         <button type = "button" onclick = "loadJSON()">Update Details </button>
      </div>
	<hr>
	
	<div style='height:84%;'>
		{{ content }}
	</div>
	
	<div style='height:1%;'>
	
	</div>
	<hr>
	<div>
		<!-- {% include comments.html %} -->
	</div>
	<hr>
	<div style='text-align:center;background-color:lightgrey;'>
		<code> This website was built and created by <a href='/'>Cole Wilson</a>. If you would like to help develop this website, contact Cole in person. We need more people to further develop this website, experience in PHP and/or JavaScript is needed.</code>
		<br> Hosting by &copy; <a href='https://pages.github.com'>GitHub Pages</a> and <a href='https://jekyllrb.com/'> Jekyll </a>
	</div>
</body>
<!-- Created by Cole B. Wilson

If you are looking at this, come help develop!

-->
