<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} | AssignmentLogger</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="{{ page.title }} | AssignmentLogger">
	<meta property="og:description" content="{{ page.title }} | AssignmentLogger">
	<meta property="og:image" content="https://en.wikipedia.org/wiki/File:Homework_-_vector_maths.jpg">
</head>
<body style='background-color:#000000;text-align:center;'>
	<div id="class-menu">
		<button onclick="window.location='/hw'">Home</a>
		<button onclick="window.location='jams.html'">JAMS</a>
		<button onclick="window.location='alg.html'">Algebra</a>
		<button onclick="window.location='geo.html'">Geometry</a>
	</div>
	{% if page.home %}
	{% include home.html %}
	{% else %}
	{{ content }}
	{% else %}
	<br><br><br><br><br><br><br><br><br>
	<footer>
		<hr><small>Cole Wilson &copy; 2020</small>
	</footer>
</body>
<!-- Created by Cole B. Wilson
If you are looking at this, come help develop!
-->
